# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Database
*.db
*.sqlite

# ML Model
backend/model/*.pkl
backend/model/*.json

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
